.whole-message {
    display: flex;
    justify-content: space-between;
}

.username {
    font-weight: bold;
}

.message-time {
    color: #B2B2B2;
    flex-shrink: 0;
}

ul {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
}